{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="icon" href="{% static 'sanma.gif' %}">

    <title>店舗用サンプル在庫表（登録 / 編集）</title>

</head>
<body>
    <div class="mt-3 mb-5">

        <!-- メニュー -->
        <div class="flex3" style="margin: 0 auto; width: 1000px;">
            <div>
                <a href="https://www.p1-intl.com/" target="_blank"><img src="{% static 'logo.png' %}"></a>
            </div>
            <div style="margin-left: 30px;">
                <a href="{% url 'sample:index' %}"><button type="button" class="btn btn-outline-dark">サンプル在庫表</button></a>
            </div>
            <div style="margin-left: 30px;">
                <a href="{% url 'sample:henshu_index' %}"><button type="button" class="btn btn-dark">サンプル登録 / 編集</button></a>
            </div>
            <div style="margin-left: 30px;">
                <a href="{% url 'sample:size_index' %}"><button type="button" class="btn btn-outline-dark">サイズ編集</button></a>
            </div>
        </div>
        <hr>


        <!-- 商品検索 -->
        <div style="margin: 0 auto; width: 1000px;">
            <div class="flex2 mt-5">
                <div>
                    <div class="flex3">
                        <div>対象店舗：</div>
                        <div>
                            <select class="form-control form-select" id="team_select">
                                {% for i in team_list %}
                                    {% if i == team %}
                                    <option value="{{i}}" selected>{{i}}</option>
                                    {% else %}
                                    <option value="{{i}}">{{i}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div style="margin-left: 30px;">
                    <div class="flex3">
                        <div>品番検索：</div>
                        <div style="width: 150px;"><input class="form-control" type="text" id="hinban_enter"></div>
                    </div>
                </div>
                <div style="margin-left: 30px;">
                    <select class="form-control" id="hinban" style="width: 200px; height:100px;" size="5"></select>
                </div>
            </div>
        </div>
        
        <!-- 商品リスト -->
        <div class="mt-5 inlineframe" id="item_list" style="margin: 0 auto; width: 1000px; height: 200px;">
            <div id="item"></div>
        </div>
        
        <!-- 登録/編集 -->
        <div class="mt-5" style="margin: 0 auto; width: 1000px;">
            <div class="flex2">
                <div id="up_hontai_num" style="display: none;"></div>
                <div id="ses_team" style="display: none;">{{team}}</div>
                <div><button type="button" class="btn btn-secondary" id="detail_copy">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
                    </svg> 内容をコピーする
                </button></div>
                <div style="margin-left: 30px;"><button type="button" class="btn btn-outline-dark" id="detail_clear">クリア</button></div>
            </div>
            <div class="mt-4 flex2">
                <div>
                    <div>店舗 <span style="color: red;">*</span></div>
                    <div>
                        <select class="form-control form-select" id="up_team">
                            {% for i in team_list %}
                                {% if i == team %}
                                <option value="{{i}}" selected>{{i}}</option>
                                {% else %}
                                <option value="{{i}}">{{i}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div style="margin-left: 30px;">
                    <div>商品番号 <span style="color: red;">*</span></div>
                    <div><input class="form-control" type="text" id="up_shouhin_num" style="width: 150px;"></div>
                </div>
                <div style="margin-left: 30px;">
                    <div>カラー</div>
                    <div><input class="form-control" type="text" id="up_color" style="width: 220px;"></div>  
                </div>
                <div style="margin-left: 30px;">
                    <div>サイズ <span style="color: red;">*</span></div>
                    <div>
                        <select class="form-select" id="up_size">
                            <option value=""></option>
                            {% for i in size_list %}
                            <option value="{{i.size}}">{{i.size}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div style="margin-left: 30px;">
                    <div>棚番</div>
                    <div><input class="form-control" type="text" id="up_tana" style="width: 270px;"></div>
                </div>
            </div>
            <div class="mt-2 flex2">
                <div>
                    <div class="mt-3 flex2">
                        <div>
                            <div>商品名 <span style="color: red;">*</span></div>
                            <div><input class="form-control" type="text" id="up_shouhin_name" style="width: 510px;"></div>
                        </div>
                        <div style="margin-left: 30px;">
                            <div>状態</div>
                            <div>
                                <select class="form-select" id="up_joutai">
                                    <option value="0">あり</option>
                                    <option value="1">貸出中</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 flex2">
                        <div>
                            <div>貸出日</div>
                            <div><input class="form-control" type="date" id="up_rental_day" style="width: 150px;"></div>
                        </div>
                        <div style="margin-left: 30px;">
                            <div>担当者</div>
                            <div><input class="form-control" type="text" id="up_rental_tantou" style="width: 170px;"></div>  
                        </div>
                        <div style="margin-left: 30px;">
                            <div>顧客名</div>
                            <div><input class="form-control" type="text" id="up_rental_cus" style="width: 260px;"></div>  
                        </div>
                    </div>
                </div>
                <div class="mt-3" style="margin-left: 30px;">
                    <div>
                        <div>備考</div>
                        <div>
                            <textarea class="form-control" id="up_bikou" rows="4" style="width: 330px;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 flex3" style="justify-content: space-between;">
                <div><button type="button" class="btn btn-outline-danger" id="btn_del"><i class='bi bi-x-lg'></i> 登録削除</button></div>
                <div><button type="button" class="btn btn-primary" id="up_btn"><i class="bi bi-plus-lg"></i> 新規登録</button></div>
            </div>
        </div>

    </div>



    <!-- 各種Ajax -->
    <script>

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i <cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
  
        var csrftoken = getCookie('csrftoken');
  
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
  
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
  


        //品番検索
        var hinban_enter = document.getElementById("hinban_enter");
        hinban_enter.addEventListener("input",function(){
            if (hinban_enter.value == ""){
                document.getElementById("hinban").innerHTML="";
                document.getElementById("item").innerHTML="";
                clear();
                return
            };
            $.ajax({
                'url': '{% url "sample:hinban_enter" %}',
                'type': 'POST',
                'data': {
                    'hinban_enter': hinban_enter.value,
                    'team': document.getElementById("team_select").value
                },
                'dataType': 'json'
            })
            .done(function(response){
                var list = "";
                if (response.hinban_list.length == 0){
                    list='<option></option>';
                } else {
                    for (var i of response.hinban_list){
                        list = list + "<option value='" + i + "'>" + i + "</option>";
                    }
                }
                document.getElementById("hinban").innerHTML=list;
            });
        });


        //品番選択
        var hinban = document.getElementById("hinban");
        var team = document.getElementById("team_select");
        hinban.addEventListener("click",function(){
            if (hinban.value != "" && team.value != ""){
                $.ajax({
                    'url': '{% url "sample:henshu_hinban_click" %}',
                    'type': 'POST',
                    'data': {
                        'team': team.value,
                        'hinban': hinban.value,
                        },
                    'dataType': 'json'
                })
                .done(function(response){
                    res=response.item_list;
                    var str="";
                    var rental="";
                    for (var i of res){
                        if (i.joutai == 0){
                            rental="あり";
                        } else {
                            rental="貸出中";
                        };
                        str=str + "<div class='flex2 main_henshu' id='" + i.hontai_num + "' name='henshu_item'>" + 
                            "<div style='width:100px;'>" + i.shouhin_num + "</div>" + 
                            "<div style='width:300px;padding-right:15px'>" + i.shouhin_name + "</div>" + 
                            "<div style='width:170px;'>" + i.color + "</div>" + 
                            "<div style='width:100px;'>" + i.size + "</div>" + 
                            "<div style='width:230px;'>" + i.tana + "</div>" + 
                            "<div style='width:80px;'>" + rental + "</div>" + 
                            "</div>";
                    };
                    document.getElementById("item").innerHTML=str;
                    list_click();
                });
            };
        });


        // 店舗選択
        document.getElementById("team_select").addEventListener("change",function(){
            document.getElementById("hinban_enter").value="";
            document.getElementById("hinban").innerHTML="<option></option>";
            document.getElementById("item").innerHTML="";
        });

        
        // リストクリック
        function list_click(){
            var item=document.getElementsByName("henshu_item");
            for (i=0; i<item.length; i++){
                item[i].addEventListener("click",function(){
                    $.ajax({
                        'url': '{% url "sample:henshu_list_click" %}',
                        'type': 'POST',
                        'data': {'hontai_num': this.id},
                        'dataType': 'json'
                    })
                    .done(function(response){
                        res=response.item;
                        document.getElementById("up_hontai_num").innerText=res.hontai_num;
                        document.getElementById("up_team").value=res.team;
                        document.getElementById("up_shouhin_num").value=res.shouhin_num;
                        document.getElementById("up_color").value=res.color;
                        document.getElementById("up_size").value=res.size;
                        document.getElementById("up_tana").value=res.tana;
                        document.getElementById("up_shouhin_name").value=res.shouhin_name;
                        document.getElementById("up_joutai").value=res.joutai;
                        document.getElementById("up_rental_day").value=res.rental_day;
                        document.getElementById("up_rental_tantou").value=res.rental_tantou;
                        document.getElementById("up_rental_cus").value=res.rental_cus;
                        document.getElementById("up_bikou").value=res.bikou;
                        document.getElementById("up_btn").className="btn btn-success";
                        document.getElementById("up_btn").innerHTML="<i class='bi bi-upload'></i> 内容更新";                            
                    });
                });
            };
        };

        
        // 内容コピー
        document.getElementById("detail_copy").addEventListener("click",function(){
            var hontai_num=document.getElementById("up_hontai_num");
            if(hontai_num.innerText == ""){
                window.alert("コピーする対象をリストから選択してください！");
                return
            };
            hontai_num.innerText="";
            document.getElementById("up_joutai").value="0";
            document.getElementById("up_rental_day").value="";
            document.getElementById("up_rental_tantou").value="";
            document.getElementById("up_rental_cus").value="";
            document.getElementById("up_btn").className="btn btn-primary";
            document.getElementById("up_btn").innerHTML="<i class='bi bi-plus-lg'></i> 新規登録";  
            window.alert("内容をコピーしました！");
        });
        

        // クリアボタン
        document.getElementById("detail_clear").addEventListener("click",function(){
            clear();
        });


        // クリア動作
        function clear(){
            document.getElementById("up_hontai_num").innerText="";
            var team=document.getElementById("ses_team").innerText;
            if (team=="全店舗"){
                document.getElementById("up_team").value="";
            } else {
                document.getElementById("up_team").value=team;
            };
            document.getElementById("up_shouhin_num").value="";
            document.getElementById("up_color").value="";
            document.getElementById("up_size").value="";
            document.getElementById("up_tana").value="";
            document.getElementById("up_shouhin_name").value="";
            document.getElementById("up_joutai").value="0";
            document.getElementById("up_rental_day").value="";
            document.getElementById("up_rental_tantou").value="";
            document.getElementById("up_rental_cus").value="";
            document.getElementById("up_bikou").value="";
            document.getElementById("up_btn").className="btn btn-primary";
            document.getElementById("up_btn").innerHTML="<i class='bi bi-plus-lg'></i> 新規登録";  
        };


        // 登録・更新
        document.getElementById("up_btn").addEventListener("click",function(){
            var str="";
            if(document.getElementById("up_team").value == ""){str=str + "店舗を指定してください！\n"};
            if(document.getElementById("up_shouhin_num").value == ""){str=str + "商品番号を入力してください！\n";};            
            if(document.getElementById("up_shouhin_name").value == ""){str=str + "商品名を入力してください！\n";};      
            if(document.getElementById("up_size").value == ""){str=str + "サイズを選択してください！";};
            if(str != ""){
                window.alert(str);
                return
            };
            $.ajax({
                'url': '{% url "sample:henshu_up" %}',
                'type': 'POST',
                'data': {
                    'hontai_num': document.getElementById("up_hontai_num").innerText,
                    'team': document.getElementById("up_team").value,
                    'shouhin_num': document.getElementById("up_shouhin_num").value,
                    'shouhin_name': document.getElementById("up_shouhin_name").value,
                    'color': document.getElementById("up_color").value,
                    'size': document.getElementById("up_size").value,
                    'tana': document.getElementById("up_tana").value,
                    'joutai': document.getElementById("up_joutai").value,
                    'rental_day': document.getElementById("up_rental_day").value,
                    'rental_tantou': document.getElementById("up_rental_tantou").value,
                    'rental_cus': document.getElementById("up_rental_cus").value,
                    'bikou': document.getElementById("up_bikou").value,
                },
                'dataType': 'json'
            })
            .done(function(response){
                if (document.getElementById("up_hontai_num").innerText == ""){
                    window.alert("新規登録が完了しました！");
                } else {
                    window.alert("登録内容を更新しました！");
                };
                window.location.reload();
            });
        });



        // 登録削除
        var hontai_num = document.getElementById("up_hontai_num");
        document.getElementById("btn_del").addEventListener("click",function(){
            if (hontai_num.innerText == ""){
                window.alert("削除する対象をリストから選択してください！");
                return
            };
            var ans =confirm("本当に削除しますか？");
            if (ans == false){
                return
            };
            $.ajax({
                'url': '{% url "sample:henshu_del" %}',
                'type': 'POST',
                'data': {'hontai_num': hontai_num.innerText},
                'dataType': 'json'
            })
            .done(function(response){
                window.location.reload();
                window.alert("削除しました！");                
            });
        });

    </script>


</body>
</html>